A {color:blue;font-size:10pt;font-family:arial;}
A:hover {color:red;}
A.NOUNDERLINE {font-size:10pt;font-family:arial;text-decoration:none;color:blue;}
A.SMALL {color:blue;font-size:9pt;font-family:arial;}
A.bookinfosmall {font-size:8pt;font-family:arial;text-decoration:none;color:black;}
A.red {font-family:arial;color:red;font-size:12pt}
B {font-size:10pt;font-family:arial;}
B.SMALL {font-size:9pt;font-family:arial;}
BODY {margin-top:1em;margin-right:1em;margin-left:1em;font-family:arial;background-color:FFFFFF;}
BODY.GRAY {margin-top:1em;margin-right:1em;margin-left:1em;font-family:arial;background-color:E0E0E0;}
B.BOLD {font-weight:bold;font-size:10pt;font-family:arial;}
B.UNDERLINE {font-weight:normal;font-size:10pt;font-family:arial;text-decoration:underline}
B.BOLDUNDERLINE {font-weight:bold;font-size:10pt;font-family:arial;text-decoration:underline}
CAPTION {font-size:10pt;font-family:arial;font-weight:bold;text-align:left;}
CENTER {font-size:10pt;font-family:arial;}
CENTER.SMALL {font-size:9pt;font-family:arial;}
DIV {font-size:10pt;font-family:arial;}
DIV.BOLD {font-weight:bold}
DIV.pagebk {page_break_after:always}
DIV.bookinfo {font-style:italic;font-size:9pt;font-family:arial;}
DIV.bookinfosmall {font-size:8pt;font-family:arial;}
DIV.figcaption {font-style:italic;margin-bottom:.5em;font-size:10pt;font-family:arial;}
DIV.INDENT {font-size:10pt;margin-left:1.5em;}
DIV.INDENT2 {font-size:10pt;margin-left:2.5em;}
DIV.INDENT3 {font-size:10pt;margin-left:3.5em;}
DIV.ppttitle {font-size:15pt;font-family:arial;font-weight:bold;margin-bottom:.2em;margin-top:.2em;}
DIV.proctitle {font-size:15pt;font-family:arial;font-weight:bold;margin-bottom:.4em;margin-top:.4em;}
DIV.proctitlecenter {text-align:center;font-size:15pt;font-family:arial;font-weight:bold;margin-bottom:.4em;margin-top:.4em;}
DIV.procsubtitle {font-size:13pt;font-family:arial;font-weight:bold;margin-bottom:.4em;margin-bottom:.4em;margin-top:.4em;}
DIV.question {font-weight:bold;margin-bottom:.5em;margin-top:.5em;font-size:10pt;font-family:arial;}
DIV.TESTSTEP {font-size:10pt;margin-left:2em;text-indent:-20pt;}
FONT.RED {font-size:9pt;font-family:arial;color:red}
H1 {font-family:arial;}
H1.CENTER {font-family:arial;text-align:center;}
H2 {font-family:arial;}
H2.CENTER {font-family:arial;text-align:center;}
H2.RED {color:red;text-align:center;font-size:16pt;font-family:arial;}
H3 {font-family:arial;}
H3.CENTER {font-family:arial;text-align:center;}
H3.NOSPACE {font-family:arial;margin-top:0em;margin-bottom:.4em;}
H3.red {font-family:arial;color:red;font-size:12pt}
H4 {font-family:arial;}
H4.testgrptitle {margin-top:2em;font-family:arial;}
H5 {font-family:arial;}
HR {color:#000000}
HR.BLUE {color:blue;height:8pt}
HR.RED {color:red;height:8pt}
HR.GREEN {color:green;height:8pt}
HR.PURPLE {color:purple;height:8pt}
I {font-size:10pt;font-family:arial;}
LI {font-size:10pt;font-family:arial;}
LI.nobullet {font-size:10pt;font-family:arial;list-style:none;}
OL {font-size:10pt;font-family:arial;}
OL.a {list-style:lower-alpha;10pt;font-family:arial;}
OL.uppera {list-style:upper-alpha;10pt;font-family:arial;}
P {font-size:10pt;font-family:arial;}
P.ALIGNR {font-size:10pt;font-family:arial;text-align:right;}
P.2PTTOP {font-size:10pt;font-family:arial;margin-top:.4em;}
P.2PTBOTTOM {font-size:10pt;font-family:arial;margin-bottom:.4em;}
P.CAPTION {margin-top:.2em;text-align:center;font-size:8pt;font-family:arial;}
P.CENTER {text-align:center;font-size:10pt;font-family:arial;}
P.CENTER3 {text-align:center;font-size:11pt;font-family:arial;font-weight:bold;}
P.CENTER4 {text-align:center;font-size:12pt;font-family:arial;font-weight:bold;}
P.CENTER5 {text-align:center;font-size:13pt;font-family:arial;font-weight:bold;}
P.FONT5 {font-size:15pt;font-family:arial;font-weight:bold;}
P.FONT4 {font-size:13pt;font-family:arial;font-weight:bold;}
P.FONT3 {font-size:12pt;font-family:arial;font-weight:bold;}
P.FONT2 {font-size:11pt;font-family:arial;font-weight:bold;}
P.NOSPACE {margin-top:.4em;margin-bottom:.4em;font-size:9pt;font-family:arial;}
P.SINGLESPACE {margin-top:.4em;margin-bottom:.4em;font-size:10pt;font-family:arial;}
P.SMALLNOSPACE {margin-top:.4em;margin-bottom:.4em;font-size:8pt;font-family:arial;}
SPAN.popup {cursor: help; text-decoration: underline; font-size: 10pt; font-family: arial;}
SPAN.popupnounderline {cursor: help; font-size: 10pt; font-family: arial;}
SUP {font-size:9pt;font-family:arial;}
SUB {font-size:9pt;font-family:arial;}
TD {font-size:10pt;font-family:arial;}
TH {font-size:10pt;font-family:arial;}
TITLE {font-size:10pt;font-family:arial;}
TR {font-size:10pt;font-family:arial;}
U {font-size:10pt;font-family:arial;}
UL {font-size:10pt;font-family:arial;}
UL.DISC {margin-top:.4em;margin-bottom:.4em;font-size:10pt;font-family:arial;list-style:disc}
UL.NONE {margin-top:.4em;margin-bottom:.4em;font-size:10pt;font-family:arial;list-style:none}
UL.singlespace {font-size:10pt;font-family:arial;margin-top:.2em;margin-bottom:.2em;}

